*{
    margin: 0px;/*所有的外边距为0*/
    padding: 0px;/*所有的内边距为0*/
    box-sizing: border-box;/*规定两个并排的带边框的框*/
}
body{
    background-position: center center;
    background-size: cover;
    background: rgb(12, 140, 209) url(../../images/A.jpg) no-repeat 0 0;
    padding-top: 25px;
}
.wel{
    font-style: italic;
    text-align: center;
    background-color: aquamarine;
    color: #c50967;
}
.rg_layout{
    width: 900px;
    height: 300px;
    border: 8px solid #EEEEEE;/*solid 定义实线*/
    background-color: rgb(25, 142, 188);
    margin: auto;
    margin-top: 280px;
}
.rg_left{
    float: left;
    margin: 15px;
}
.rg_left>p:first-child{
    color: #c50967;
    font-size: 20px;
}
.rg_left>p:last-child{
    color: #FFD026;
    font-size: 20px;
}

.rg_center{
    float: left;
}

.rg_right{
    float: right;
    margin: 15px;
    padding-left: 50px;
}
.rg_right p{
    font-size: 15px;
}
.rg_right p a{
    color: coral;
    text-decoration: none;
}
.td_left{
    width: 100px;
    font-weight: 700;
    text-align: right;
    height: 45px;
    padding-top: 50px;
}
.td_right{
    padding-left: 50px;
    padding-top: 50px;
}
.back{
    margin: auto;
}
#channel{
    width: 251px;
    height: 32px;
    border: 1px solid #A6A6A6;
    /*设置边框圆角*/
    border-radius: 5px;
    padding-left: 10px;
}
#img_check{
    height: 32px;
    vertical-align: middle;/*设置图片的位置垂直居中*/
}
#btn_sub{
    width: 100px;
    height: 40px;
    background-color: #FFD026;
    border: 1px solid #FFD026;
    padding-left: 10px;
}